// BURGER === 

.styled-burger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 20;
    display: none;
    
      @include tablet-max {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
      }
}
    
.burger-line {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transform-origin: 0px;
    transition: all 0.3s linear;
}

// OPEN BURGER LINE (===)
.open {
    background-color: '#e3c6a4'
}
.open:nth-child(1) {
transform: rotate(45deg);
}
.open:nth-child(2) {
    transform: translateX(-300);
    opacity: 0;
}
.open:nth-child(3) {
    transform: rotate(-45deg);
}

// CLOSED BURGER LINE (X)
.closed {
    background-color: '#744F44'
    }
.closed:nth-child(1) {
    transform: rotate(0);
}
.closed:nth-child(2) {
    transform: translateX(0%);
    opacity: 1;
} 
.closed:nth-child(3) {
    transform: rotate(0);
}
