// BURGER === 

.styled-burger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 20;
    display: none;
    
    @include tablet-max {
      display: flex;
      justify-content: space-around;
      flex-flow: column nowrap;
    }
}
    
.line {
    div {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        transform-origin: 0px;
        transition: all 0.3s linear;
    }

    &-open div{
        background-color: #e3c6a4;
    }
    &-open div:nth-child(1) {
        transform: rotate(45deg);
    }
    &-open div:nth-child(2) {
        transform: translateX(-300);
        opacity: 0;
    }
    &-open div:nth-child(3) {
        transform: rotate(-45deg);
    }

    &-closed div{
        background-color: #744F44;
        }
    &-closed div:nth-child(1) {
        transform: rotate(0);
    }
    &-closed div:nth-child(2) {
        transform: translateX(0%);
        opacity: 1;
    } 
    &-closed div:nth-child(3) {
        transform: rotate(0);
    }
}

// OPEN BURGER LINE (X)



// CLOSED BURGER LINE (===)

