// @use 'base'; use variabes from other scss file

$base-color: #744F44;
$primary-color: #C09F93;
$secondary-color: #744F44;

#e6dfdc

body {
  background:  #744F44;
}

.h2 {
  color: #fff;
  font-weight: 300;
  @media (min-width: 320px) {
    font-size: 1rem;
  }
}
