.card-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @include mobile {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    max-width: 614px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop-large {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop-xlarge {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    max-width: 258px;
  }
  @include tablet {
    max-width: 614px;
  }
  @include desktop {
    max-width: 614px;
  }
  @include desktop-large {
    max-width: 850px;
  }
  @include desktop-xlarge {
    max-width: 1125px;
  }
}

// #e3c6a4 or b98462
.card {
  max-width: 258px;
  align-self: flex-start;
  background-color: #b98462;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

p {
  color: #fff;
  font-weight: 300;
  padding: 16px;
  @include mobile-mini {
    font-size: 0.75rem;
  }
}