.card-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @include mobile {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    max-width: 614px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop-large {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop-xlarge {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    max-width: 400px;
  }
  @include tablet {
    max-width: 614px;
  }
  @include desktop {
    max-width: 614px;
  }
  @include desktop-large {
    max-width: 850px;
  }
  @include desktop-xlarge {
    max-width: 1125px;
  }
}

// #e3c6a4 or b98462
.card {
  display: inline-block;
  position: relative;
  max-width: 190px;
  align-self: flex-end;
  overflow: hidden;
  margin: 1px 2px 1px 1px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  align-items: center;
  // text-align: center;
  // display: flex;
  // justify-content: center;
}

.card-img {
  width: 100%;
  margin: auto;
  display: block;
}

.card-overlay:after {
  content: attr(title);
  color: rgba(255, 255, 255, 0.75);
  padding: .5em 1em;
  font-family: helvetica;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .25s ease-in-out;
}

.card-overlay:hover:after {
  background: #e0d9d4;
  opacity: 50%;
  color: #fff;
  width: 100%;
  height: 100%;
}

// #b98462

.card:hover .card-overlay{
  display:block;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
}

.card .card-overlay{
  position: absolute;
  display: none;
}

.card-overlay:hover:before {
  transition: all .25s ease-in-out;
  position: absolute;
  margin-top: -.5em;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 1;
  text-align: center;
  font-family: helvetica;
}
.card-overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    color: #fff;
    margin: 0;
  }
}
// p {
//   color: #fff;
//   font-weight: 300;
//   padding: 16px;
//   @include mobile-mini {
//     font-size: 0.75rem;
//   }
// }