.filter-model-box {
  position: relative;
  background: $body-bg-light;
  width: 80%;
  min-height: 690px;
  top:50%;
  left:50%;
  border-radius: 10px;
  transform: translate(-50%,-50%);
}

.filter-bar {  
  position: relative;
  margin: 0px 15px 0px 15px;

  .extendable-bar {
    outline: none;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    padding: 0 25px;
    font-size: 15px;
    height: 50px;
    width: 0px;
    box-sizing: border-box;
    transition: all 0.7s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .focused {
    width: 85%;
  }

  // ::-webkit-input-placeholder{color: #D071A0;}
  // ::-moz-input-placeholder{color: #D071A0;}
  // ::-ms-input-placeholder{color: #D071A0;}
  // ::-o-input-placeholder{color: #D071A0;}
  // ::input-placeholder{color: #D071A0;}

  #filter-button {
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    top:0;
    left: 0;
    outline: none;
    color: $text-dark;
    transition: all 0.5s ease;
  }
}

.filter-modal-heading {
  position: relative;
  padding: 24px 2px 2px 2px;

}

.current-filter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3A2E39;
  align-content: center;
  // position: absolute;
  // top: 30px;
  // left: 139px;
}

.selected-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 90px 20px;
}

.selected-filter-item {
  margin-right: 3px;
  border-radius: 15px;
  padding: 5px;
}

.filter-label-shape {
  background-color: #88A4B8;
}

.filter-label-clay {
  background-color: #BA6D32;
}

.filter-label-glazes {
  background-color: #6BA368;
}
