// @use 'base'; use variabes from other scss file


// Base
*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-base;
  background-color:$body-bg;
  color: $text-color;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: $font-headings;
  font-weight: normal;
  color: $brand-dark;
}

a {
  color: $brand-highlight;
}

// Grid
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}


// Header
// -------
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $brand-dark;
  padding: 0 2rem;

  a {
    text-decoration: none;
    color: $text-light;
  }
}

.logo-title {
  font-size: 2.4rem;
  margin: 0;
  padding: 1rem .8rem;
}

.navbar-item {
  display: inline-block;
  padding: .8rem;
}


// Forms
// -----
input, button {
  border-width: 1px;
  border-radius: .2rem;
  padding: .5rem .8rem;
  background-color: $body-bg; 
}

.center-form {
  max-width: 400px;
  margin: 0 auto;

  label {
    width: 20%;
  }

  input {
    width: 80%;
  }

  input[type="submit"] {
    width: 100%;
    border-color: $brand-highlight;
    background-color: $brand-highlight;
    color: $text-light;
  }
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

.assmt-form {
  display: flex;
  justify-content: space-between;

  input {
    width: 77%;
  }

  button {
    background-color: $brand-highlight;
    border-color: $brand-highlight;
    color: $text-light;
    width: 20%;
  }
}

// Assmt List
// ------------
.assmt-row {

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
}

.assmt {
  border-bottom: 1px solid $border-color;
  padding: 1rem;
  transition: all ease .3s;

  &:hover {
    background-color: $border-color;
  }

  @include tablet {
    width: 49%;
    margin: .5%;
    border: 1px solid $border-color;
    padding: 2rem;
    border-radius: .4rem;
  }

  @include desktop {
    width: 24%;
  }
}


// Utils
// -------
.green {
  background-color: rgb(147, 199, 147);
}

.orange {
  background-color: rgb(208, 148, 116);
}

.yellow {
  background-color: rgb(223, 217, 150);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e3c6a4;
}

// .h2 {
//   color: #fff;
//   font-weight: 300;
//   @media (min-width: 320px) {
//     font-size: 1rem;
//   }
// }
