// @use 'base'; use variabes from other scss file


// BASE
*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-bg-light;
  // color: $text-color;
  font-family: $font-base;
  font-size: 16px;
}

// TEXT AND HEADNGS
h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
  font-weight: normal;
  color: $text-dark;
}

p {
  font-family: $font-base;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading {
  font-family: $font-headings;
}

// .sml-text {
//   font-size: 26px;
// }

// .med-text {
//   font-size: 18px;
// }

// .lrg-text {
//   font-size: 25px;
// }


// ITEMS

button {
  .option & {
    padding: 3px;
  }
}

button, input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  }