// @use 'base'; use variabes from other scss file


// Base
*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-bg-light;
  // color: $text-color;
  // font-family: $font-base;
  font-size: 16px;
}

// h1, h2, h3 {
//   font-family: $font-headings;
//   font-weight: normal;
//   color: $brand-dark;
// }
