// @use 'base'; use variabes from other scss file

$base-color: #b98462;
$primary-color: #e3c6a4;
$secondary-color: #efb88f;
$third-color: #e4dcd1;
$fourth-color: #744F44;


* {
  margin: 0;
  padding: 0;
}

body {
  background: #e3c6a4;
}

// .h2 {
//   color: #fff;
//   font-weight: 300;
//   @media (min-width: 320px) {
//     font-size: 1rem;
//   }
// }
