  .search {
    position: relative;
    margin: 0px 15px 0px 15px;
    
    input {
      outline: none;
      background-color: #fff;
      border: none;
      border-radius: 50px;
      padding: 15px 15px;
      font-size: 15px;
      height: 35px;
      width: 0px;
      box-sizing: border-box;
      transition: all 0.7s ease-in-out;
      position: absolute;
      top: 0;
      right: 0;
    }
    input.focused {
      width: 89%;
    }
    ::-webkit-input-placeholder{color: #D071A0;}
    ::-moz-input-placeholder{color: #D071A0;}
    ::-ms-input-placeholder{color: #D071A0;}
    ::-o-input-placeholder{color: #D071A0;}
    ::input-placeholder{color: #D071A0;}
    
    #search-button {
      position: absolute;
      background: #fff;
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 50%;
      font-size: 20px;
      right: 0;
      outline: none;
      color: $text-dark;
      transition: all 0.5s ease;
    }

  }