// MODEL FOR LOG STATUSES 

.model-box {
  position: relative;
  background: $body-bg-light;
  width: 80%;
  height: 612px;
  top:50%;
  left:50%;
  border-radius: 10px;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;

  .open & {
    display: block;
  }

  .closed &{
    display: none;
  }
}

.save{
  margin: 30px;
  width: 115px;
  height: 30px;
  border-radius: 4px;
  background: $body-bg-dark;
  color: white;
  font-family: 'Alegreya Sans SC';
  border-style: none;
}
