.log-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    max-width: 400px;
  }
  @include tablet {
    max-width: 614px;
  }
  @include desktop {
    max-width: 850px;
  }
  @include desktop-large {
    max-width: 80%;
  }
  @include desktop-xlarge {
    max-width: 75%;
  }
}

.log {
  max-width: 80%;
  display: flex;
  background-color: #744f44;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 2px auto 2px auto;
}

// const Text = styled.div`
//   width: 150px;
//   color: #fff;
//   font-weight: 200;
//   margin: 8px;
//   padding: 4px;
//   box-sizing: border-box;
//   border-radius: 4px;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
//     border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
//   @include (min-width: 320px) {
//     font-size: 1rem;
//   }
//   @include (min-width: 320px) {
//     font-size: 1rem;
//   }
// `



.status {
  width: 150px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-headings;
  margin: 8px;
  padding: 6px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  @include mobile-mini {
    font-size: 1rem;
  }
}

// STATUS COLOURS
.wet{
    background-color: #A3D9FF;
}
.leather-hard{
    background-color: #88A4B8;
}
.bone-dry{
    background-color: #C09F93;
}
.bisque-firing{
    background-color: #b98462;
}
.bisque-fired{
    background-color: #BA6D32;
}
.glazed{
    background-color: #6BA368;
}
.glaze-firing{
    background-color: #AFE07E;
}
.complete{
    background-color: #744F44;
}
