// VARIABLES

// Colours
$body-bg-light: #e3c6a4;
$body-bg-dark: #744F44;
// $border-color: #d1bdaa;

$text-dark: #744F44;
$text-light: #f2f2f2;

$brand-dark: #3A2E39;
$brand-light: #3f6183;

$base-color: #b98462;
$primary-color: #e3c6a4;
$secondary-color: #efb88f;
$third-color: #e4dcd1;
$fourth-color: #377DB0;
$fifth-color: #6BA368;
$sixth-color: #A3D9FF;
$seventh-color: #5E6435;
// Fonts
$font-base: 'Alegreya Sans', sans-serif;
$font-headings: 'Alegreya Sans SC', sans-serif;
// $font-base: 'Lato', sans-serif;
// $font-headings: 'Crete Round', serif;


// Mixins
//  Media Queries
// ----------------

@mixin mobile-mini {
  @media(min-width: 320px) {
    @content;
  }
}

@mixin mobile {
  @media(min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-max {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin desktop-xlarge {
  @media (min-width: 1600px) {
    @content;
  }
}